.header {
  max-width: 1920px;
  width: 100%;
  background-color: black;
  margin: 0 auto;
}

.container {
  opacity: 0.6;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  height: 45px;
  display: flex;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}
div.container p b {
  font-weight: 700;
}
nav.navigation a:not(:first-child) {
  margin-left: 32px;
}

.selectorWrapper {
  display: flex;
}

.selectorWrapper select {
  margin-left: 12px;
  border: none;
  background-color: black;
  color: #ffffff;
}

.selectorWrapper img {
  width: 20px;
}
