.contentWrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
/* TODO BUTTON DESIGH */
.contentWrapper .content .buttonWrapper button {
  border: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  padding: 12.5px 15px;
}

.contentWrapper .content .buttonWrapper button:hover {
  border-radius: 50%;
  background-color: #17696a;
  color: white;
}
/* doesnt work but why??*/
/* .contentWrapper .content button:last-of-type {
    width: 210px;
    height: 52px;
    margin-top: 178px;
    align-self: center;
  } */

.lastButton {
  width: 210px;
  height: 52px;
  margin-top: 96px;
  align-self: center;
}
.photoItem {
  max-width: 390px;
  height: 510px;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.photoItem:not(:first-child) {
  margin-left: 30px;
}

.photoWrapper {
  margin-top: 60px;
  display: flex;
  font-family: "Lato", sans-serif;
}

.photoName {
  padding-top: 16px;
  font-size: 18px;
  font-weight: 400;
  color: #424551;
  line-height: 27px;
}

.photoPrice {
  font-size: 20px;
  color: #1e212c;
  font-weight: 700;
  margin-top: 12px;
}

.photoName,
.photoPrice,
.salesPrices {
  margin-left: 16px;
}
.heart {
  position: absolute;
  right: 16px;
  bottom: 92px;
}

.salesPrices {
  color: #ff4242;
}

.prices {
  margin-top: 8px;
  display: flex;
}

.oldPrices {
  text-decoration: line-through;
  color: #787a80;
  margin-left: 12px;
  font-size: 18px;
  align-self: center;
  line-height: 27px;
}

.sales {
  color: white;
  background-color: #ff4242;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 16px;
  font-weight: 700;
  padding: 2px 12px;
  border-radius: 4px;
  line-height: 31.2px;
}

.none {
  display: none;
}

.visible {
  display: block;
}

.arrow {
  position: absolute;
  top: 220px;
  font-size: 24px;
}

.arrow:hover {
  color: red;
}

.arrow:nth-of-type(2) {
  left: 15px;
}

.arrow:first-of-type {
  right: 15px;
}

.advanced {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  height: 110px;
  display: block;
}

.basic {
  display: none;
}

.addToCart {
  background-color: #17696a;
  color: white;
  width: 358px;
  height: 44px;
  margin-left: 16px;
  margin-top: 20px;
}

.hoverPanel {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 16px;
  justify-content: space-between;
}
