.circles {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-spacing: 5px;
  border: 2px solid white;
  outline: 1px solid #d7dadd;
}

.circles:focus {
  outline: 1px solid #17696a;
}
.circles:not(:first-of-type) {
  margin-left: 8px;
}

.output {
  padding-right: 16px;
  display: Flex;
  align-items: center;
  justify-content: center;
}
