.mainWrapper {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 120px;
}

.contentWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper:not(:first-of-type) {
  margin-left: 45px;
}

.contentWrapper p:first-of-type {
  margin-top: 30px;
  line-height: 30px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.contentWrapper p:last-of-type {
  margin-top: 8px;
  line-height: 25.6px;
  font-size: 16px;
  color: #787a80;
  font-family: "Lato", sans-serif;
}
