.advWrapper {
  margin: 0 auto;
  max-width: 1860px;
  height: 1016px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "bluePic grayPic grayPic"
    "pinkPic pinkPic lightgrayPic";
  grid-template-rows: 500px 500px;
  grid-template-columns: 735px auto 735px;
  gap: 16px;
  margin-top: 180px;
}

.blue {
  background-image: url("../../img/Advertisment/blue.png");
  grid-area: bluePic;
}

.gray {
  background-image: url("../../img/Advertisment/gray.png");
  grid-area: grayPic;
}

.pink {
  background-image: url("../../img/Advertisment/pink.png");
  grid-area: pinkPic;
}

.lightgray {
  background-image: url("../../img/Advertisment/lightgray.png");
  grid-area: lightgrayPic;
}

.blue,
.pink,
.lightgray,
.gray {
  background-size: cover;
  background-repeat: no-repeat;
}

.blueWrapper,
.pinkWrapper,
.lightgrayWrapper,
.grayWrapper {
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 60px;
}

.blue .blueWrapper p,
.pink .pinkWrapper p,
.lightgray .lightgrayWrapper p,
.grayLabels {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.blue .blueWrapper h2,
.gray .grayWrapper h2,
.pink .pinkWrapper h2,
.lightgray .lightgrayWrapper h2 {
  color: #1e212c;
  margin-top: 12px;
  line-height: 41.6px;
}

.blue .blueWrapper button,
.gray .grayWrapper button,
.pink .pinkWrapper button {
  margin-top: 40px;
}

.blue .blueWrapper button {
  width: 190px;
  height: 45px;
}

.gray .grayWrapper button {
  width: 130px;
  height: 45px;
}

.pink .pinkWrapper button {
  width: 155px;
  height: 45px;
}

.lightgray .lightgrayWrapper label {
  font-family: "Lato", sans-serif;
  color: #424551;
  line-height: 21px;
}

.lightgray .lightgrayWrapper label:first-of-type {
  display: inline-block;
  margin-top: 32px;
}
.lightgray .lightgrayWrapper label:last-of-type {
  display: inline-block;
  margin-top: 20px;
}
.subscribe {
  display: flex;
  height: 44px;
  align-items: center;
  margin-top: 8px;
}

.subscribe input {
  border: 1px solid #d7dadd;
  max-width: 360px;
  width: 100%;
  height: 40px;
  border-radius: 4px 0 0 4px;
}

.subscribe button {
  background-color: #17696a;
  color: white;
  max-width: 130px;
  width: 100%;
  height: 44px;
  border-radius: 0px 4px 4px 0px;
}
