.mainContent {
  max-width: 1920px;
  height: 800px;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.box {
  max-width: 1230px;
  width: 100%;
}

div.mainContent div.box label {
  color: #1e212c;
  font-weight: 700;
}

div.mainContent div.box label:hover {
  cursor: pointer;
}

.boxTitles {
  padding: 140px 0 0 345px;
  display: flex;
  flex-direction: column;
}

.newLabel {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.mainH1 {
  font-family: "Lato-Bold", sans-serif;
  font-size: 72px;
  margin-top: 12px;
}

.slider {
  display: flex;
  margin-top: 180px;
}

.buttonLayer {
  margin-top: 60px;
  display: flex;
}

.sliderItemPassive {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  opacity: 0.3;
  border-bottom: 2px solid rgba(66, 69, 81, 1);
  width: 178px;
  margin-left: 4px;
  border-radius: 0;
  padding-right: 150px;
  padding-bottom: 12px;
}

.sliderItemActive {
  color: #424551;
  opacity: 1;
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  background: none;
  border: none;
  border-bottom: 2px solid #424551;
  padding: 0;
  width: 178px;
  margin-left: 4px;
  border-radius: 0;
  padding-right: 150px;
  padding-bottom: 12px;
}

.noBackgroundButton {
  width: 150px;
  height: 50px;
}

.commonButton {
  color: white;
  background-color: #17696a;
  width: 230px;
  height: 52px;
  margin-left: 24px;
}

.leftArrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: 0.5;
  position: absolute;
  left: 32px;
  top: 45%;
}
.leftArrow:hover {
  opacity: 1;
  cursor: pointer;
}
.rightArrow {
  position: absolute;
  opacity: 0.5;
  right: 32px;
  top: 45%;
}
.rightArrow:hover {
  opacity: 1;
  cursor: pointer;
}
