.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  max-width: 1230px;
  width: 100%;
}

.photoWrapper {
  margin-top: 60px;
  display: flex;
  font-family: "Lato", sans-serif;
}

.photoName {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  color: #424551;
}

.photoPrice {
  font-size: 20px;
  color: #1e212c;
  font-weight: 700;
  margin-top: 12px;
}

.photoName,
.photoPrice {
  margin-left: 16px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description,
.advLink {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.description {
  margin-top: 24px;
}

.advLink {
  margin-top: 5px;
  color: #17696a;
  text-decoration: underline;
  cursor: pointer;
}

.sliderButtonsWrapper {
  max-width: 240px;
  width: 100%;
  margin: 96px auto 0 auto;
}

.sliderButtons {
  border: none;
  padding: 0;
  cursor: pointer;
  border-bottom: 3px solid #b3b7bc;
  width: 30px;
}

.sliderButtons:focus {
  border-bottom: 3px solid #424551;
}

.sliderButtons:not(:first-child) {
  margin-left: 12px;
}
